<%- include("partials/header") %>

<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/">Home</a></li>
			<li>Shopping Cart Is Empty</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent nomargin">
		<div class="tt-empty-cart">
			<span class="tt-icon icon-f-39"></span>
			<h1 class="tt-title">SHOPPING CART IS EMPTY</h1>
			<p>You have no items in your shopping cart.</p>
			<a href="/" class="btn">CONTINUE SHOPPING</a>
		</div>
	</div>
</div>

<%- include("partials/footer") %>
